<!-- wp:template-part {"slug": "header", "tagName": "header"} /-->

<!-- wp:heading {"level": 2} -->
<h2>Welcome to Collins Music Academy!</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
	Founded by Sarah Collins, Collins Music Academy was founded to help teach
	students of all ages how to play a variety of musical instruments.
</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level": 2} -->
<h2>Check out our Trial Courses and Sign-Up Sheet</h2>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image">
	<img src="https://picsum.photos/1380/300" alt="" />
</figure>
<!-- /wp:image -->

<!-- wp:heading {"level":3} -->
<h3>
	You can sign up for music lessons to learn how to play your favorite musical
	instruments today! Even if you don't know what instrument you want to commit
	to, try our trial classes! This way, you can find which instrument you connect
	to most!
</h3>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:image {"sizeSlug":"large"} -->
		<figure class="wp-block-image size-large">
			<img src="https://picsum.photos/400/400" alt="" />
		</figure>
		<!-- /wp:image -->

		<!-- wp:heading {"level":4} -->
		<h4 class="wp-block-heading">Lucy - Violin Instructor</h4>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:image {"sizeSlug":"large"} -->
		<figure class="wp-block-image size-large">
			<img src="https://picsum.photos/400/400" alt="" />
		</figure>
		<!-- /wp:image -->

		<!-- wp:heading {"level":4} -->
		<h4 class="wp-block-heading">Collette - Piano Instructor</h4>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:image {"sizeSlug":"large"} -->
		<figure class="wp-block-image size-large">
			<img src="https://picsum.photos/400/400" alt="" />
		</figure>
		<!-- /wp:image -->

		<!-- wp:heading {"level":4} -->
		<h4 class="wp-block-heading">Leopold - Guitar Instructor</h4>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:heading {"level":2} -->
<h2>Student Testimonials</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:heading {"level":4} -->
		<h4 class="wp-block-heading">
			"I loved learning the violin from Lucy! She made the violin easy to learn,
			and I can now play all kinds of songs thanks to her! Thank you Instructor
			Lucy!
		</h4>
		<!-- /wp:heading -->

		<!-- wp:heading {"level":3} -->
		<h3 class="wp-block-heading">Christy - Instrument: Violin</h3>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:heading {"level":4} -->
		<h4 class="wp-block-heading">
			"I loved learning the piano from Collete! She made the lessons fun and
			engaging, and I am always excited to meet with her!
		</h4>
		<!-- /wp:heading -->

		<!-- wp:heading {"level":3} -->
		<h3 class="wp-block-heading">Lillian - Instrument: Piano</h3>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:heading {"level":4} -->
		<h4 class="wp-block-heading">
			"I loved learning the guitar from Leopold! The guitar was an intimidating
			instrument to learn initially, but Leopold made the guitar fun and easy to
			learn!
		</h4>
		<!-- /wp:heading -->

		<!-- wp:heading {"level":3} -->
		<h3 class="wp-block-heading">Leonard - Instrument: Guitar</h3>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug": "footer"} -->
