<!-- wp:template-part {"slug": "header", "tagName": "header"} /-->

<!-- wp:heading {"level": 2} -->
<h2>Welcome to Music Academy!</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor labore
  excepturi saepe inventore aliquam porro vitae ea accusantium ut alias incidunt
  nihil corrupti cum architecto nesciunt, aspernatur minus, commodi totam autem,
  neque beatae! A adipisci aut reiciendis reprehenderit porro eum aspernatur
  nisi deserunt animi. Ut accusantium fuga dolorum. Voluptates, est?
</p>
<!-- /wp:paragraph -->

<!-- wp:group {"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group">
  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:image {"sizeSlug":"large"} -->
    <figure class="wp-block-image size-large">
      <img src="https://picsum.photos/400/400" alt="" />
    </figure>
    <!-- /wp:image -->

    <!-- wp:heading {"level":4} -->
    <h4 class="wp-block-heading">Lucy - Piano Instructor</h4>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:image {"sizeSlug":"large"} -->
    <figure class="wp-block-image size-large">
      <img src="https://picsum.photos/400/400" alt="" />
    </figure>
    <!-- /wp:image -->

    <!-- wp:heading {"level":4} -->
    <h4 class="wp-block-heading">Lucy - Piano Instructor</h4>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:image {"sizeSlug":"large"} -->
    <figure class="wp-block-image size-large">
      <img src="https://picsum.photos/400/400" alt="" />
    </figure>
    <!-- /wp:image -->

    <!-- wp:heading {"level":4} -->
    <h4 class="wp-block-heading">Lucy - Piano Instructor</h4>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug": "footer"} -->
