<!-- wp:template-part {"slug": "header", "tagName": "header"} /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Music Lessons/Trial Courses</h1>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image">
	<img src="https://picsum.photos/1380/300" alt="" />
</figure>
<!-- /wp:image -->

<!-- wp:heading {"level": 2} -->
<h2>Instruments Currently Offered</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
	Note: We only offer a maximum of two lessons per week. Each lesson can only be
	a maximum two hours per day, to give other students time to learn from their
	instructors.
</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul>
	<li>Piano</li>
	<li>Violin</li>
	<li>Drums</li>
	<li>Guitar</li>
</ul>
<!-- /wp:list -->

<!-- wp:group {"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
<div class="wp-block-group">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:image {"sizeSlug":"large"} -->
		<figure class="wp-block-image size-large">
			<img src="https://picsum.photos/400/400" alt="" />
		</figure>
		<!-- /wp:image -->

		<!-- wp:heading {"level": 2} -->
		<h2>Piano</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Skill Level: Intermediate</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 4} -->
		<h4>Price(Per Hour): $55.00</h4>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>
			Ever hear the soft notes of the piano and often wonder if you could play
			something similar? Already know the basics of the instrument and want to
			jump into playing actual songs? Meet with our favorite piano instructor
			Collete Heavensby! During her lessons, you will be taught to play short
			songs, skipping over the basics you have already come to know! After
			Collete's lessons, you'll be able to play the more advanced songs you have
			always dreamed of learning! Due to the skill level of the course, Collete
			is not currently offering trial courses. Note: You can only have two
			lessons per week, and each lesson can only be a maximum of two hours long.
		</p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:image {"sizeSlug":"large"} -->
		<figure class="wp-block-image size-large">
			<img src="https://picsum.photos/400/400" alt="" />
		</figure>
		<!-- /wp:image -->

		<!-- wp:heading {"level": 2} -->
		<h2>Violin</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Skill Level: Advanced</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 4} -->
		<h4>Price(Per Hour): $60.00</h4>
		<!-- /wp:heading -->
		<!-- wp:paragraph -->
		<p>
			Do you enjoy listening to Beethoven's musical numbers in your spare time?
			Ever wondered what it would be like to play those same famous songs
			yourself? Have already an understanding of the instrument and sheet music,
			and are just looking for some pointers from an advanced instructor? Meet
			with Lucy Hollander, our famous violin instructor! Lucy is known for her
			stricter techniques, but there has never been an unsatisfied student in
			the past! In Lucy's lessons, you learn more advanced techniques with the
			violin, as well as more difficult songs to practice to your hearts
			content! Due to the skill level of this course, there is currently not a
			trial course offered with Lucy at this time. Note: You can only have two
			lessons per week, and each lesson can only be a maximum of two hours long.
		</p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
<div class="wp-block-group">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:image {"sizeSlug":"large"} -->
		<figure class="wp-block-image size-large">
			<img src="https://picsum.photos/400/400" alt="" />
		</figure>
		<!-- /wp:image -->

		<!-- wp:heading {"level": 2} -->
		<h2>Drums</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Skill Level: Beginner</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 4} -->
		<h4>Price(Per Hour): $50.00</h4>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>
			Ever heard the drums and wondered if you could ever play the instrument?
			Meet with our newest instructor, Paul Henderson! Paul is currently
			accepting students of all varying skill levels in music. During his
			lessons, you can learn how to read the sheet music, and how to keep time
			with the rhythm of your practice songs. In no time, you will go from
			playing basic notes, to playing long-winded drum solos! Paul Henderson is
			also offering trial courses, so you can freely play the drums to see if
			the fun instrument is right for you! Note: You can only have two lessons
			per week, and each lesson can only be a maximum of two hours long.
		</p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:image {"sizeSlug":"large"} -->
		<figure class="wp-block-image size-large">
			<img src="https://picsum.photos/400/400" alt="" />
		</figure>
		<!-- /wp:image -->

		<!-- wp:heading {"level": 2} -->
		<h2>Guitar</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Skill Level: Beginner</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 4} -->
		<h4>Price(Per Hour): $50.00</h4>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>
			Have you ever felt a special connection to the guitar? Ever listen to
			acoustic versions of your favorite songs, and wonder if you can play the
			notes? Learn to play guitar from our very own Leopold Corvette! Leopold
			offers lessons for students that are new to the musical world. He
			discusses the basics of sheet music, while teaching his students the
			importance of rhythm. You will be taught how to play basic notes in the
			beginning to eventually playing short songs. Leopold is also accepting
			trial courses, so you can freely test out the guitar to see if it suits
			your musical passions. Note: You can only have two lessons per week, and
			each lesson can only be a maximum of two hours long.
		</p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:heading {"level":1} -->
<h1>Piano Sample Music from Collete's Lessons!</h1>
<!-- /wp:heading -->

<!-- wp:embed {"url":"https://www.youtube.com/watch?v=ttEI35HVpqI","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
<figure
	class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"
>
	<div class="wp-block-embed__wrapper">
		https://www.youtube.com/watch?v=ttEI35HVpqI
	</div>
</figure>
<!-- /wp:embed -->

<!-- wp:heading {"level":1} -->
<h1>Violin Sample Music from Lucy's Lessons!</h1>
<!-- /wp:heading -->

<!-- wp:embed {"url":"https://www.youtube.com/watch?v=uInJ7BjgVi4","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
<figure
	class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"
>
	<div class="wp-block-embed__wrapper">
		https://www.youtube.com/watch?v=uInJ7BjgVi4
	</div>
</figure>
<!-- /wp:embed -->

<!-- wp:heading {"level":1} -->
<h1>Drums Sample Music from Paul's Lessons!</h1>
<!-- /wp:heading -->

<!-- wp:embed {"url":"https://www.youtube.com/watch?v=HLuUrRz-wkQ","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
<figure
	class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"
>
	<div class="wp-block-embed__wrapper">
		https://www.youtube.com/watch?v=HLuUrRz-wkQ
	</div>
</figure>
<!-- /wp:embed -->

<!-- wp:heading {"level":1} -->
<h1>Guitar Sample Music from Leopold Lessons!</h1>
<!-- /wp:heading -->

<!-- wp:embed {"url":"https://www.youtube.com/watch?v=Zk16OOUyKO4","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
<figure
	class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"
>
	<div class="wp-block-embed__wrapper">
		https://www.youtube.com/watch?v=Zk16OOUyKO4
	</div>
</figure>
<!-- /wp:embed -->

<!-- wp:template-part {"slug": "footer"} -->
