<!-- wp:template-part {"slug": "header", "tagName": "header"} /-->

<!-- wp:heading {"level": 1} -->
<h1>Instructors Currently Offered</h1>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
<div class="wp-block-group">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:heading {"level": 2} -->
		<h2>Lucy Hollander-Violin Instructor</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Teaching Philosophy: Study hard to achieve success.</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Musical Proficiency: Violin, Cello</h3>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>
			Lucy Hollander is considered one of the most impressive violinists of our
			time. After her time of fame and fortune, she has chosen to retire at our
			newly opened music academy to inspire budding talents in her musical
			field. She has been known for her career in violin, and has recently been
			recognized for her talents on the cello. Her awards and accolades she has
			received are on display here at the academy for all to see.Currently, she
			is our instructor for our advanced violin course, which is currently our
			most popular course at the academy. When she isn't playing music, she
			relaxes at home with a good book and her cat, Mittens. At age 40, Lucy
			considers her fame well spent, and hopes to inspire eager students to
			continue their passions in music, no matter the challenges they face.
		</p>
		<!-- /wp:paragraph -->

		<!-- wp:image -->
		<figure class="wp-block-image">
			<img src="https://picsum.photos/500/500" alt="" />
		</figure>
		<!-- /wp:image -->

		<!-- wp:heading {"level": 2} -->
		<h2>Contact Information:</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Email:lucyHolly981@gmail.com</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Phone Number:880-655-0923</h3>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:heading {"level": 2} -->
		<h2>Collete Heavensby-Piano Instructor</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Teaching Philosophy: I help you grow, so your talent can bloom.</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Musical Proficiency: Piano, Keyboard</h3>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>
			Collete Heavensby is a patient and compassionate instructor. Her rise to
			stardom began when she was 22 by creating the famous song, Of Nights
			Rising, on the piano. As she went on to play music for all to see at
			concerts, and background music for several films, she has decided to
			become a part-time instructor at our music academy. Her kindess motivates
			many of our students to continue their passions in the music industry.
			When she isn't playing the piano, she is currently practicing with the
			harp, as well as working part-time as a musician. Now at the age of 33,
			Collete is always open to meet up outside of practice hours for coffee,
			and loves to attend a variety of concerts in her spare time!
		</p>
		<!-- /wp:paragraph -->

		<!-- wp:image -->
		<figure class="wp-block-image">
			<img src="https://picsum.photos/500/500" alt="" />
		</figure>
		<!-- /wp:image -->

		<!-- wp:heading {"level": 2} -->
		<h2>Contact Information:</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Email:colleteHeav342@gmail.com</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Phone Number:988-127-8912</h3>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
<div class="wp-block-group">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:heading {"level": 2} -->
		<h2>Leopold Corvette-Guitar Instructor</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>
			Teaching Philosophy: Students become masters through passion and practice!
		</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Musical Proficiency: Guitar, Bass</h3>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>
			Leopold Corvette may be our oldest instructor, but his wisdom has inspired
			several musicians of our time! Back in the 70's, Leopold found his
			personality through guitar. After dropping out of college to begin his
			solo career, Leopold became famous for countless songs about love and
			loss. His songs have always been described as nostalgic and passionate,
			moving many of his audiences to tears even to this day. Now at the age of
			65, Leopold has entered retirement, becoming one of our most popular
			instructors at the academy! When he isn't playing guitar, he is currently
			practicing the bass, and is always willing to give advice on how to play
			the instrument. He is always at the library, reading a variety of books
			and attends many book clubs to discuss his interests. He always welcomes
			students to attend with him.
		</p>
		<!-- /wp:paragraph -->

		<!-- wp:image -->
		<figure class="wp-block-image">
			<img src="https://picsum.photos/500/500" alt="" />
		</figure>
		<!-- /wp:image -->

		<!-- wp:heading {"level": 2} -->
		<h2>Contact Information:</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Email:leopoldCorv887@gmail.com</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Phone Number:889-389-1078</h3>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:heading {"level": 2} -->
		<h2>Paul Henderson-Drums Instructor</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>
			Teaching Philosophy: I give my students the key to unlock their potential!
		</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Musical Proficiency: Drums, Cymbals</h3>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>
			Paul Henderson has always had a passion for the drums ever since he was a
			child. Ever since he was 10, he had always had a set of drumsticks on his
			person. Now at the age of 27, he plays for the popular band, Lockdown,
			which was started by him and his friends in college. While the band is
			taking a break from tour, Paul has decided to become an adjunct instructor
			at our little music academy! When Paul isn't playing the drums, he is
			always at the local arcade, playing the machines from dawn to dusk. He is
			always open to not only teach drum lessons, but to hang out anywhere in
			our local town.
		</p>
		<!-- /wp:paragraph -->

		<!-- wp:image -->
		<figure class="wp-block-image">
			<img src="https://picsum.photos/500/500" alt="" />
		</figure>
		<!-- /wp:image -->

		<!-- wp:heading {"level": 2} -->
		<h2>Contact Information:</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Email:paulHend223@gmail.com</h3>
		<!-- /wp:heading -->

		<!-- wp:heading {"level": 3} -->
		<h3>Phone Number:992-345-7820</h3>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug": "footer"} -->
